.switch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.ui-element-container {
  height: 20px;
  width: 80px;
  background-color: #000000;
  position: relative;
  transition: background-color 0.3s ease;

  .moving-block {
    border-radius: 16px;
    background-color: #fff;
    height: 20px;
    width: 32px;
  }
}

.ui-element-container.active {
  background-color: green;
  transition: background-color 0.3s ease;

  .moving-block {
    border-radius: 16px;
    background-color: #fff;
    height: 20px;
    width: 32px;
  }
}