.titolo-serie-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.numero-serie-container {
  flex: 0 0 20%;
}

.input-row {
  flex: 1 1 auto;
  display: flex;
  gap: 8px;
  width: 60%;
}

.input-row mat-form-field {
  flex: 1;
}

.delete-icon-element-container {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-left: 16px;
}