<div class="page-scroller">
  <div class="content">
    <div class="lista-template-schede-container">
      @for (scheda of listaSchede; track scheda.id; let i = $index) {
      <div class="scheda-wrapper">
        <div
          #schedaCard
          class="template-scheda"
          (click)="visualizzaDatiScheda(scheda.id)"
        >
          <div class="nome-data-scheda">
            <h3 class="text-white">{{ scheda.nomeScheda }}</h3>
            <h3 class="text-grey">
              Creata il {{ scheda.dataCreazione | date: "dd/MM/yyyy" }}
            </h3>
          </div>
          <div>
            <div class="arrow-widget-container">
              <mat-icon svgIcon="google-arrow"></mat-icon>
            </div>
          </div>
        </div>
        <div
          class="delete-action"
          tabbable
          (click)="openDeleteScheda(scheda.id)"
        >
          <div class="button-confirm-icon-container-danger">
            <mat-icon svgIcon="google-delete"></mat-icon>
          </div>
        </div>
      </div>
      } @empty {
      <h3 class="text-white">Nessuna scheda aggiunta</h3>
      }
    </div>
  </div>
</div>

<div class="floating-double-buttons-container">
  <app-multi-option-button
    [leftButtonLabel]="''"
    [leftGroups]="leftButtonOptionsGroup"
    (optionSelected)="onOptionSelected($event)"
  >
    <!-- Il pulsante statico viene proiettato qui -->
    <button class="floating-static-button" (touchstart)="createNewScheda()">
      <span>Nuova scheda</span>
    </button>
  </app-multi-option-button>
</div>

<ng-template #headerDeleteTemplate>
  <img
    src="assets/recollect/images/icona-stop-modifica.png"
    alt="Attenzione"
    class="warning-icon"
  />
</ng-template>

<!-- Template per il body -->
<ng-template #bodyDeleteTemplate>
  <h3 class="text-white">
    Sei sicuro di voler eliminare questo template scheda?
  </h3>
  <h3 class="text-white">Questa azione non può essere annullata.</h3>
</ng-template>

<!-- Template per il bottone di chiusura -->
<ng-template #footerCloseDeleteTemplate>
  <button class="button-cancel">
    <span>Annulla</span>
    <!-- <div class="button-confirm-icon-container-cancel">
      <img src="assets/recollect/svg/google-close-icon.svg" />
    </div> -->
  </button>
</ng-template>

<!-- Template per il bottone di conferma -->
<ng-template #footerConfirmDeleteTemplate>
  <button class="button-danger">
    <span>Elimina</span>
    <!-- <div class="button-confirm-icon-container-danger">
      <img src="assets/recollect/svg/google-delete.svg" />
    </div> -->
  </button>
</ng-template>
