.lista-template-schede-container {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.template-scheda {
  display: flex;
  padding: 16px;
  border: 1px solid #212121;
  border-radius: 16px;
  gap: 16px;
}

.template-scheda:first-of-type {
  border-top: 1px solid #212121;
}

.naviga-scheda-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nome-data-scheda {
  display: flex;
  flex-direction: column;
  gap: 8px;
}