.lista-template-schede-container {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.scheda-wrapper {
  position: relative;
  overflow: hidden;
  touch-action: pan-y;
}

.template-scheda {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 16px;
  gap: 16px;
  background-color: #191919;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  z-index: 1;

  &:active {
    transform: scale(0.95);
  }
}

.naviga-scheda-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nome-data-scheda {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.floating-actions-workout {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.warning-icon {
  width: 40px;
}
