<div>
  <div class="mostra-tutti-widget">
    <div>
      <h1 class="text-title">Ultimi <br />allenamenti svolti</h1>
    </div>
    <div class="small-inline-button" (click)="NavigaAElencoAllenamentiSchede()">
      <button>Tutti</button>
      <mat-icon svgIcon="google-arrow"></mat-icon>
    </div>
  </div>
  <div class="widget-data-container">
    @for (ultimoAllenamentoSvolto of this.ultimiAllenamentiSvoltiDTO; track
    ultimoAllenamentoSvolto.id; let i = $index) {
    <div class="widget-data" (click)="NavigaAVisualizzaAllenamento(ultimoAllenamentoSvolto.id)">
      <div class="workout-info-container">
        <div class="workout-details">
          <div class="descrizione-allenamento-container">
            <h3 class="text-white">
              {{ultimoAllenamentoSvolto.descrizioneAllenamento}}
            </h3>
            <h3 class="text-grey">
              {{ ultimoAllenamentoSvolto.dataSvolgimento| date: "dd/MM/yyyy" }}
            </h3>
          </div>
          <div class="icona-numero-esercizio-container">
            @for (ex of [0,1,2,3,4]; track ex) {
            <div class="icon-container-accumulator">
              <div
                class="circle-icon"
                [title]="'Esercizio'"
                [style.border-color]=""
              >
                <img
                  [src]="'assets/recollect/images/bicipite-icon.png'"
                  [alt]="'Icona esercizio'"
                />
              </div>
            </div>
            }
          </div>
          <div class="arrow-widget-container">
            <mat-icon svgIcon="google-arrow"></mat-icon>
          </div>
        </div>
      </div>
    </div>
    }
    @if(this.ultimiAllenamentiSvoltiDTO.length == 0){
    <div class="widget-data-no-data">
      <h3 class="text-white">Nessun allenamento svolto</h3>
    </div>
    }
  </div>
  <div class="widget-button">
    <button class="text-shape-button" (click)="NavigaAElencoAllenamentiSchede()">
      <span>Visualizza allenamenti</span>
      <div class="text-shape-button-icon-container">
        <img src="assets/recollect/svg/google-arrow.svg" />
      </div>
    </button>
  </div>
</div>