<div class="content">
  <div class="widget-title">
    <div class="section-widget-title-container">
      <h1 class="text-title">Ultimi <br />allenamenti svolti</h1>
    </div>
    <div class="icon-container">
      <img src="assets/recollect/images/storico-allenamenti-icon.png" />
    </div>
  </div>
  @if(datiRecuperati){ @for (ultimoAllenamentoSvolto of
  this.ultimiAllenamentiSvoltiDTO; track ultimoAllenamentoSvolto.id; let i =
  $index) {
  <div class="widget-data">
    <div class="descrizione-allenamento-container">
      <h3 class="text-white">
        {{ultimoAllenamentoSvolto.descrizioneAllenamento}}
      </h3>
    </div>
    <div class="giorno-data-allenamento-container">
      <h3 class="text-grey">
        Giorno {{ultimoAllenamentoSvolto.giornoAllenamento}} di
        {{ultimoAllenamentoSvolto.giorniTotaliAllenamentiScheda}}
      </h3>
      <h3 class="text-grey">
        {{ ultimoAllenamentoSvolto.dataSvolgimento| date: "dd/MM/yyyy" }}
      </h3>
    </div>
  </div>
  } @empty {
  <div class="widget-data">
    <h3 class="text-white">Nessun dato trovato</h3>
  </div>
  }
  @if(this.ultimiAllenamentiSvoltiDTO.length > 0){
    <div class="widget-button">
      <button class="text-shape-button" (click)="mostraFunzionalitaInArrivo()">
        <span>Apri allenamenti</span>
        <div class="text-shape-button-icon-container">
          <img src="assets/recollect/svg/google-arrow.svg" />
        </div>
      </button>
    </div>
  }
  } @else{
  <div class="widget-data">
    <h3 class="text-white">Nessun dato trovato</h3>
  </div>
  }
</div>
