.content {
  display: flex;
  flex-direction: column;
}

.last-widget-container {
  padding-bottom: 72px;
}

.data-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.widget-data {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  
  &:active {
    transform: scale(0.95);
  }

  .giorni-counter-container span {
    font-weight: 700;
    font-size: 20px;
  }

  .nome-graphic-visualizer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .visualizer-scheda-container {
    flex: 1;
    display: flex;
    align-items: flex-end;

    div {
      flex: 1;
      height: 2px;
      background-color: #fff;
      border-radius: 16px;
    }

    .current-day-visualizer {
      height: 8px;
    }
  }

  .giorno-data-scheda-container {
    display: flex;
    flex-direction: column;
  }
}
