<div>
  <!-- <div class="widget-title">
    <div class="section-widget-title-container">
      <h1 class="text-title">Prossimo allenamento</h1>
    </div>
  </div> -->
  @if(datiRecuperati){
  <div class="widget-data" (click)="NavigaARegistraAllenamento()">
    <div class="first-row">
      <div class="nome-graphic-visualizer-container">
        <div class="nome-allenamento-container">
          <h3 class="text-title">{{this.descrizioneAllenamentoCorrente}}</h3>
        </div>
        <div class="visualizer-allenamento-container">
          @for (giorno of giorniArray; track giorno) {
          <div
            [class.current-day-visualizer]="giorno === this.numeroGiornoAllenamentoCorrente"
          ></div>
          }
        </div>
      </div>
      <div class="arrow-widget-container">
        <mat-icon svgIcon="google-arrow"></mat-icon>
      </div>
    </div>
    <div class="second-row">
      <div class="giorni-counter-container">
        <h3 class="text-white">
          <span>Giorno {{this.numeroGiornoAllenamentoCorrente}}</span> di
          <span>{{this.numeroGiornoAllenamentiTotali}}</span>
        </h3>
      </div>
      <div class="icona-numero-esercizio-container">
        @for (idIcona of idIcone; track $index) {
        <div class="icon-container-accumulator">
          <div
            class="circle-icon"
            [title]="'Esercizio ' + ($index + 1)"
            [style.border-color]="idIcona | exerciseIconColor"
          >
            <img [src]="idIcona | exerciseIcon" [alt]="'Icona esercizio'" />
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  <!-- <div class="widget-button">
    <button class="button-confirm" (click)="NavigaARegistraAllenamento()">
      <span>Inizia allenamento</span>
      <div class="button-confirm-icon-container">
        <img src="assets/recollect/svg/google-arrow.svg" />
      </div>
    </button>
  </div> -->
  } @else{
  <div class="widget-data no-element" (click)="NavigaAElencoTemplateSchede()">
    <div class="no-data-text">
      <h3 class="text-grey">Nessun dato trovato</h3>
      <h3 class="text-white">Attiva una scheda</h3>
    </div>
    <div class="arrow-widget-container">
      <mat-icon svgIcon="google-arrow"></mat-icon>
    </div>
  </div>
  <!-- <div class="widget-button">
    <button class="button-confirm" (click)="NavigaAElencoTemplateSchede()">
      <span>Attiva una scheda</span>
      <div class="button-confirm-icon-container">
        <img src="assets/recollect/svg/google-arrow.svg" />
      </div>
    </button>
  </div> -->
  }
</div>