<div class="content">
  <div class="widget-title">
    <div class="section-widget-title-container">
      <h1 class="text-title">Prossimo <br />allenamento</h1>
    </div>
    <div class="icon-container">
      <img src="assets/recollect/images/prossimo-allenamento-icon.png" />
    </div>
  </div>
  @if(datiRecuperati){
  <div class="widget-data">
    <div class="giorni-counter-container">
      <h3 class="text-white">
        <span>{{this.numeroGiornoAllenamentoCorrente}}</span> di
        <span>{{this.numeroGiornoAllenamentiTotali}}</span>
      </h3>
    </div>
     <div class="nome-graphic-visualizer-container">
      <div class="nome-allenamento-container">
        <h3 class="text-white">{{this.descrizioneAllenamentoCorrente}}</h3>
      </div>
      <div class="visualizer-allenamento-container">
        @for (giorno of giorniArray; track giorno) {
          <div [class.current-day-visualizer]="giorno === this.numeroGiornoAllenamentoCorrente"></div>
        }
      </div>
    </div>
  </div>
  <div class="widget-button">
    <button class="text-shape-button" (click)="NavigaARegistraAllenamento()">
      <span>Apri allenamento</span>
      <div class="text-shape-button-icon-container">
        <img src="assets/recollect/svg/google-arrow.svg" />
      </div>
    </button>
  </div>
  } @else{
  <div class="widget-data">
    <h3 class="text-white">Nessun dato trovato</h3>
  </div>
  <div class="widget-button">
    <button class="text-shape-button" (click)="NavigaAElencoTemplateSchede()">
      <span>Attiva una scheda</span>
      <div class="text-shape-button-icon-container">
        <img src="assets/recollect/svg/google-arrow.svg" />
      </div>
    </button>
  </div>
  }
</div>
