.lista-executed-schede-container {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.scheda-wrapper {
  position: relative;
  overflow: hidden;
  touch-action: pan-y; 
}

.executed-scheda {
  position: relative;
  display: flex;
  padding: 16px;
  border: 1px solid #212121;
  border-radius: 16px;
  gap: 16px;
  background-color: #000;
  cursor: pointer;
  user-select: none; 
  -webkit-user-select: none;
}

.executed-scheda:first-of-type {
  border-top: 1px solid #212121;
}

.naviga-scheda-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nome-data-scheda {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.delete-action {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 120px;
  border-radius: 16px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff0000;
  background: radial-gradient(
    circle at calc(100% - 40px) 50%,
    rgba(255, 0, 0, 0) 0%,
    #820000 100%
  );
  border: 1px solid #970000;

  opacity: 0;
  visibility: hidden; 
  pointer-events: none; 
  cursor: pointer;

  svg {
    color: #ffffff;
  }
}

.floating-actions-workout {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.warning-icon {
  width: 40px;
}