<!-- training-methodology-selector.component.html -->
<mat-form-field appearance="outline" [style.width]="width">
  <mat-label>{{ label }}</mat-label>
  <mat-select [formControl]="control" [multiple]="multiple">
    @for (methodology of methodologies; track methodology.id) {
    <mat-option [value]="methodology.id">
      <div class="custom-option">
        <span>{{ methodology.label }}</span>
      </div>
    </mat-option>
    }
  </mat-select>
  @if(hint){
  <mat-hint>{{ hint }}</mat-hint>
  } @if(control.invalid && control.touched){
  <mat-error *ngIf="control.invalid && control.touched">
    {{ getErrorMessage() }}
  </mat-error>
  }
</mat-form-field>