<div class="seleziona-allenamento-container">
  <div class="mega-title-container">
    <h1 class="mega-title">Pronto per il prossimo allenamento?</h1>
  </div>
  <div class="two-type-allenamenti">
    <app-prossimo-allenamento></app-prossimo-allenamento>
    <div class="container-allenamento-libero">
      <h3 class="text-white">Allenamento libero</h3>
      <div class="arrow-widget-container">
        <mat-icon svgIcon="google-arrow"></mat-icon>
      </div>
    </div>
  </div>
  <div class="data-last-allenamento">
    <div class="data-last-allenamento-upper-line">
      <div class="data-allenamento-cell">
        <h3 class="text-title accent-color-1">48 ore</h3>
        <p class="text-grey">Dall'ultimo allenamento svolto
        </p>
      </div>
      <div class="data-allenamento-cell">
        <h3 class="text-title accent-color-2">21</h3>
        <p class="text-grey">Allenamenti nell'ultimo mese</p>
      </div>
    </div>
    <div class="data-allenamento-cell data-last-allenamento-lower-line">
      <p class="text-grey">
        Sapevi che nell'ultimo mese hai sollevato l'equivalente di 3 elefanti?
      </p>
    </div>
  </div>
</div>
