<div class="buttons-container" #container>
  <div class="transformation-button" #transformButton>
    <button class="basic-setting" #basicContent>
      {{ transformButtonLabel }}
    </button>
    <div class="transformed-setting" #transformedContent>
      <div class="transformed-setting-close-button-container">
        <div class="close-icon-section-container">
          <div #closeBtn class="close-icon-trigger"></div>
          <img src="assets/recollect/svg/google-close-icon.svg" />
        </div>
      </div>

      @for(option of options; track option.optionId){
      <div class="transformed-setting-option-container">
        <button (click)="onOptionClick(option.optionId)">
          {{ option.description }}
        </button>
      </div>
      }
    </div>
  </div>

  <div class="static-button" #staticButton>
    <div class="static-button-container">
      <ng-content></ng-content>
    </div>
  </div>
</div>
