.add-exercise-button-row {
  display: flex;
  justify-content: flex-end;
  padding: 32px 0;
}

.exercise-data {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

app-multi-option-button {
  display: block;
  width: 100%;
}

.date-row {
  padding-bottom: 32px;

  form {
    display: flex;
    flex-flow: column;
    gap: 16px;

    mat-form-field {
      width: 100%;
    }
  }
}

.full-width {
  width: 100%;
}

.warning-icon {
  width: 40px;
}

.delete-allenamento-button-row {
  margin-bottom: 32px;
  display: flex;
  justify-content: flex-start;
}
