.add-exercise-button-row {
  display: flex;
  justify-content: flex-end;
  padding: 32px 0;
}

.content {
  padding-bottom: 40px;
}

.exercise-data {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

app-multi-option-button {
  display: block;
  width: 100%;
}

.date-row {
  padding-bottom: 32px;
}

.full-width {
  width: 100%;
}

.warning-icon {
  width: 40px;
}
