<!-- create-or-edit-template-plan-component.html -->

@if(this.loadingProgression === LoadingProgressionEnum.complete){
<div class="content">
  <div class="section-title-container close-icon-title-container">
    <div class="close-icon-section-container">
      <div class="close-icon-trigger" (click)="goBack()"></div>
      <img src="assets/recollect/svg/google-close-icon.svg" />
    </div>
    <h1 class="text-title">Registra allenamento</h1>
  </div>

  @if(this.createOrEditWorkoutExecutionService.AllenamentoForm.form){
  <div class="workout-data">
    <div class="section-title-container">
      <h3 class="text-title">
        {{this.createOrEditWorkoutExecutionService.AllenamentoForm.form.controls['nomeAllenamento'].value}}
      </h3>
    </div>
    <div class="date-row">
      <form
        [formGroup]="createOrEditWorkoutExecutionService.AllenamentoForm.form"
      >
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Scegli una data</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="dataEsecuzione"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="exercise-data">
    @for (esercizioForm of
    this.createOrEditWorkoutExecutionService.AllenamentoForm.listaEserciziForm;
    track esercizioForm.form.controls['identifier'].value) {
    <app-exercise-component
      [formAllenamento]="this.createOrEditWorkoutExecutionService.AllenamentoForm"
      (onDeleteExercise)="deleteEexercise($event)"
      [formEsercizio]="esercizioForm"
    ></app-exercise-component>
    } @empty { }
  </div>
  <div class="add-exercise-button-row">
    <button class="text-shape-button" (click)="addNuovoEsercizio()">
      <span>Aggiungi esercizio</span>
      <div class="text-shape-button-icon-container">
        <img src="assets/recollect/svg/google-add.svg" />
      </div>
    </button>
  </div>
  <div class="delete-allenamento-button-row">
    <button class="text-shape-button-danger" (click)="openDeleteAllenamento()">
      <span>Elimina allenamento</span>
      <div class="text-shape-button-icon-container-danger">
        <img src="assets/recollect/svg/google-delete.svg" />
      </div>
    </button>
  </div>

  @if(this.idAllenamento){
  <div class="floating-static-button-container">
    <button
      class="floating-static-button"
      [class.button-disabled]="!createOrEditWorkoutExecutionService.AllenamentoForm.form.valid"
      (click)="registraAllenamento()"
    >
      <span>Salva</span>
    </button>
  </div>
  }@else {
  <div class="floating-double-buttons-container">
    <app-multi-option-button
      [options]="buttonOptions"
      [transformButtonLabel]="'Cambia'"
      (optionSelected)="onOptionSelected($event)"
    >
      <!-- Il pulsante statico viene proiettato qui -->
      <button
        class="floating-static-button"
        [class.button-disabled]="!createOrEditWorkoutExecutionService.AllenamentoForm.form.valid"
        (click)="registraAllenamento()"
      >
        <span>Salva</span>
      </button>
    </app-multi-option-button>
  </div>
  } }@else {
  <h3 class="text-white">Nessun allenamento aggiunto</h3>
  }
</div>

} @else if(this.loadingProgression === LoadingProgressionEnum.none ||
this.loadingProgression === LoadingProgressionEnum.loading){
<h3 class="text-white">Caricamento in corso</h3>
} @else if(this.loadingProgression === LoadingProgressionEnum.failed){
<h3 class="text-white">Caricamento fallito</h3>
}

<ng-template #headerGoBack>
  <img
    src="assets/recollect/images/icona-stop-modifica.png"
    alt="Attenzione"
    class="warning-icon"
  />
</ng-template>

<!-- Template per il body -->
<ng-template #bodyGoBack>
  <h3 class="text-white">Sei sicuro di voler annullare la modifica?</h3>
  <h3 class="text-white">I dati non salvati andranno persi.</h3>
</ng-template>

<!-- Template per il bottone di chiusura -->
<ng-template #footerCloseGoBack>
  <button class="text-shape-button-cancel">
    <span>Annulla</span>
    <div class="text-shape-button-icon-container-cancel">
      <img src="assets/recollect/svg/google-close-icon.svg" />
    </div>
  </button>
</ng-template>

<!-- Template per il bottone di conferma -->
<ng-template #footerConfirmGoBack>
  <button class="text-shape-button-danger">
    <span>Conferma</span>
    <div class="text-shape-button-icon-container-danger">
      <img src="assets/recollect/svg/google-delete.svg" />
    </div>
  </button>
</ng-template>

<ng-template #headerDeleteTemplate>
  <img
    src="assets/recollect/images/icona-stop-modifica.png"
    alt="Attenzione"
    class="warning-icon"
  />
</ng-template>

<!-- Template per il body -->
<ng-template #bodyDeleteTemplate>
  <h3 class="text-white">
    Sei sicuro di voler eliminare questo template scheda?
  </h3>
  <h3 class="text-white">Questa azione non può essere annullata.</h3>
</ng-template>

<!-- Template per il bottone di chiusura -->
<ng-template #footerCloseDeleteTemplate>
  <button class="text-shape-button-cancel">
    <span>Annulla</span>
    <div class="text-shape-button-icon-container-cancel">
      <img src="assets/recollect/svg/google-close-icon.svg" />
    </div>
  </button>
</ng-template>

<!-- Template per il bottone di conferma -->
<ng-template #footerConfirmDeleteTemplate>
  <button class="text-shape-button-danger">
    <span>Elimina</span>
    <div class="text-shape-button-icon-container-danger">
      <img src="assets/recollect/svg/google-delete.svg" />
    </div>
  </button>
</ng-template>
