<div class="content">
  <div class="section-title-container back-icon-title-container">
    <div class="back-icon-section-container">
      <div class="back-icon-trigger" (click)="goBack()"></div>
      <img src="assets/recollect/svg/google-arrow.svg" />
    </div>
    <h1 class="text-title">{{scheda.nomeScheda}}</h1>
  </div>

  <div class="lista-template-schede-container">
    @for (allenamento of scheda.listaAllenamenti; track allenamento.id; let i =
    $index) {
    <div class="section-title-container template-scheda">
      <div class="nome-allenamento">
        <h3 class="text-title">{{ allenamento?.nomeAllenamento }}</h3>
      </div>
      <div class="dati-allenamento-container">
        @for(esercizio of allenamento?.listaEsercizi; track esercizio.id; let i
        = $index) {
        <div class="esercizio-container">
          <div class="icon-esercizio-container">
            <div
              class="circle-icon"
              [style.border-color]="esercizio.idIconaEsercizio | exerciseIconColor"
            >
              <img
                [src]="esercizio.idIconaEsercizio | exerciseIcon"
                class="exercise-icon"
                [alt]="esercizio.idTipoEsercizio | exerciseName"
              />
            </div>
          </div>
          <div class="dati-esercizio-container">
            <div class="nome-esercizio-container">
              <h3 class="text-white">
                {{ esercizio.idTipoEsercizio | exerciseName }}
              </h3>
            </div>
            <div class="chips-container">
              @if(esercizio?.idMetodologia != null) {
              <div class="dati-chip-container metodologia-chip">
                {{ esercizio.idMetodologia | trainingMethodology }}
              </div>
              } @if(esercizio?.listaSerie != null && esercizio.listaSerie.length
              > 0) {
              <div class="dati-chip-container serie-chip">
                {{ esercizio.listaSerie | seriesReps }}
              </div>
              }
            </div>
          </div>
        </div>
        } @empty {
        <h3 class="text-white">Dati non trovati</h3>
        }
      </div>
    </div>
    } @empty {
    <h3 class="text-white">Dati non trovati</h3>
    }

    <div class="delete-scheda-button-row">
      <button class="text-shape-button-danger" (click)="openDeleteScheda()">
        <span>Elimina scheda</span>
        <div class="text-shape-button-icon-container-danger">
          <img src="assets/recollect/svg/google-delete.svg" />
        </div>
      </button>
    </div>
  </div>

  <div class="floating-static-button-container">
    <button class="floating-static-button" (click)="modificaScheda()">
      <span>Modifica scheda</span>
    </button>
  </div>
</div>

<ng-template #headerDeleteTemplate>
  <img
    src="assets/recollect/images/icona-stop-modifica.png"
    alt="Attenzione"
    class="warning-icon"
  />
</ng-template>

<!-- Template per il body -->
<ng-template #bodyDeleteTemplate>
  <h3 class="text-white">
    Sei sicuro di voler eliminare questo template scheda?
  </h3>
  <h3 class="text-white">Questa azione non può essere annullata.</h3>
</ng-template>

<!-- Template per il bottone di chiusura -->
<ng-template #footerCloseDeleteTemplate>
  <button class="text-shape-button-cancel">
    <span>Annulla</span>
    <div class="text-shape-button-icon-container-cancel">
      <img src="assets/recollect/svg/google-close-icon.svg" />
    </div>
  </button>
</ng-template>

<!-- Template per il bottone di conferma -->
<ng-template #footerConfirmDeleteTemplate>
  <button class="text-shape-button-danger">
    <span>Elimina</span>
    <div class="text-shape-button-icon-container-danger">
      <img src="assets/recollect/svg/google-delete.svg" />
    </div>
  </button>
</ng-template>
