<!-- app-gym-exercise-selector.html -->
<mat-form-field appearance="outline" [style.width]="width">
  <mat-label>{{ label }}</mat-label>
  
  <!-- Input readonly che simula una select -->
  <input 
    matInput
    [value]="displayValue"
    [placeholder]="label"
    readonly
    (click)="openSheet($event)"
    style="cursor: pointer;"
    [class.error]="control.invalid && control.touched"
  />
  
  @if(hint){
    <mat-hint>{{ hint }}</mat-hint>
  } 
  
  @if(control.invalid && control.touched){
    <mat-error>
      {{ getErrorMessage() }}
    </mat-error>
  }
</mat-form-field>