<!-- menu-component.html -->
<div class="menu-wrapper">
  <!-- Menu fisso in alto -->
  <div class="app-menu-container">
    <div [class.menu-hidden]="isMenuOpen" (click)="navigateToHome()">
      <h3>Home</h3>
    </div>
    <div (click)="toggleMenu()" class="menu-trigger">
      @if(!isMenuOpen){
      <h3 class="menu-text">Menu</h3>
      } @if(isMenuOpen){
      <h3 class="close-button">Chiudi</h3>
      }
    </div>
  </div>

  <!-- Overlay fullscreen menu -->
  <div
    class="fullscreen-menu-overlay"
    [class.menu-open]="isMenuOpen"
    (click)="closeMenu()"
  >
    <div class="menu-items-container" [class.items-visible]="isMenuOpen">
      <div class="menu-item" (click)="navigateToAccount()">
        <h3 class="text-white">Account</h3>
      </div>
      <div class="menu-item" (click)="navigateToTemplateSchede()">
        <h3 class="text-white">I miei template schede</h3>
      </div>
      <div class="menu-item" (click)="navigateToSchedeSvolte()">
        <h3 class="text-white">Schede svolte</h3>
      </div>
      <div class="menu-item" (click)="navigateToAllenamentiSvolti()">
        <h3 class="text-white">Allenamenti svolti</h3>
      </div>
      <div class="menu-item" (click)="navigateToInfo()">
        <h3 class="text-white">Info client</h3>
      </div>
        <div class="menu-item" (click)="navigateToInfoServer()">
            <h3 class="text-white">Info server</h3>
        </div>
      <div class="menu-item" (click)="callLogout()">
        <h3 class="text-white">Logout</h3>
      </div>
    </div>
  </div>
</div>
