<!-- menu-component.html -->
<div class="menu-wrapper">
  <!-- Menu fisso in alto -->
  <div class="app-menu-container">

    <div class="left-button" [class.hidden]="isMenuOpen || menuConfig.leftButton === 'none'"
      (click)="onLeftButtonClick()">
      @if(menuConfig.leftButton === 'back') {
      <div class="menu-btn-container reverse-icon adjust-looking-icon">
        <mat-icon svgIcon="google-arrow"></mat-icon>
      </div>
      } @else if(menuConfig.leftButton === 'close') {
      <div class="menu-btn-container">
        <mat-icon svgIcon="google-close"></mat-icon>
      </div>
      }
    </div>

    <!-- Testo centrale -->
    <div class="center-text" [class.visible]="menuConfig.centerText && !isMenuOpen">
      <h3 class="text-white">{{ menuConfig.centerText }}</h3>
    </div>

    <div (click)="toggleMenu()" class="menu-trigger">
      <div class="menu-btn-container">
        <div class="icon-swap-wrapper" [class.is-active]="isMenuOpen">
          <mat-icon class="icon-menu" svgIcon="google-menu"></mat-icon>
          <mat-icon class="icon-close" svgIcon="google-close"></mat-icon>
        </div>
      </div>
    </div>
  </div>

  <!-- Overlay fullscreen menu -->
  <div class="fullscreen-menu-overlay" [class.menu-open]="isMenuOpen" (click)="closeMenu()">
    <div class="menu-items-container" [class.items-visible]="isMenuOpen" [class.is-animating]="isAnimating"
      (click)="$event.stopPropagation()">
      <div class="menu-item" (click)="navigateToAccount()">
        <h3 class="text-white">Account</h3>
      </div>
      <div class="menu-item" (click)="navigateToTemplateSchede()">
        <h3 class="text-white">I miei template schede</h3>
      </div>
      <div class="menu-item" (click)="navigateToSchedeSvolte()">
        <h3 class="text-white">Schede svolte</h3>
      </div>
      <div class="menu-item" (click)="navigateToAllenamentiSvolti()">
        <h3 class="text-white">Allenamenti svolti</h3>
      </div>
      <div class="menu-item" (click)="navigateToInfo()">
        <h3 class="text-white">Info client</h3>
      </div>
      <div class="menu-item" (click)="navigateToInfoServer()">
        <h3 class="text-white">Info server</h3>
      </div>
      <div class="menu-item" (click)="navigateToImpostazioni()">
        <h3 class="text-white">Impostazioni</h3>
      </div>
      @if (isAdmin()) {
      <div class="menu-item admin-item" (click)="navigateToAdminUsers()">
        <h3 class="text-white">Gestione Utenti</h3>
      </div>
      <div class="menu-item admin-item" (click)="navigateToAdminExercises()">
        <h3 class="text-white">Gestione Esercizi</h3>
      </div>
      }
      <div class="menu-item" (click)="callLogout()">
        <h3 class="text-white">Logout</h3>
      </div>
    </div>
  </div>
</div>