.lista-template-allenamenti-container {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.allenamento-container {
  display: flex;
  padding: 16px;
  border: 1px solid #212121;
  border-radius: 16px;
  gap: 16px;
}

.allenamento-container:first-of-type {
  border-top: 1px solid #212121;
}

.nome-data-allenamento {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.graphic-data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.graphic-visualizer-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.visualizer-allenamento-container {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  height: 100%;

  div {
    flex: 1;
    width: 2px;
    background-color: #fff;
    border-radius: 16px;
  }

  .current-day-visualizer {
    width: 8px;
  }
}

.small-text {
  font-size: 10px;
}
