<div class="content">
  <div class="section-title-container">
    <h1 class="text-title">Ultimi allenamenti svolti</h1>
  </div>
  <div class="lista-template-allenamenti-container">
    @for (allenamentoView of listaAllenamentiSvoltiView; track
    allenamentoView.allenamentoSvolto.id; let i = $index) {

    <div
      class="allenamento-container"
      (click)="visualizzaDatiAllenamento(allenamentoView.allenamentoSvolto.id)"
    >
      <div class="graphic-data">
        <div class="giorni-counter-container">
          <h3 class="text-white small-text">
            <span>{{allenamentoView.allenamentoSvolto.numeroAllenamento}}</span>
            /
            <span
              >{{allenamentoView.allenamentoSvolto.numeroTotaleAllenamentiScheda}}</span
            >
          </h3>
        </div>
        <div class="graphic-visualizer-container">
          <div class="visualizer-allenamento-container">
            @for (giorno of allenamentoView.giorniArray; track giorno) {
            <div
              [ngClass]="{'current-day-visualizer': giorno == allenamentoView.allenamentoSvolto.numeroAllenamento}"
            ></div>
            }
          </div>
        </div>
      </div>
      <div class="nome-data-allenamento">
        <h3 class="text-white">
          {{ allenamentoView.allenamentoSvolto.nomeAllenamento }}
        </h3>
        <h3 class="text-grey">
          {{ allenamentoView.allenamentoSvolto.nomeScheda }}
        </h3>
        <h3 class="text-grey">
          Svolto il {{ allenamentoView.allenamentoSvolto.dataEsecuzione | date:
          "dd/MM/yyyy" }}
        </h3>
      </div>
    </div>
    } @empty {
    <h3 class="text-white">Nessun allenamento svolto</h3>
    }
  </div>
</div>
