.content {
  display: flex;
  flex-direction: column;
}

.scheda-corrente-container {
  &:active {
    transform: scale(0.95);
  }
}

.first-line-scheda-corrente {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 16px 16px 0 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.no-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 16px;
  border-radius: 16px;
}

.widget-data {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 16px;
  justify-content: space-between;

  .giorni-counter-container span {
    font-weight: 700;
    font-size: 20px;
  }

  .nome-graphic-visualizer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .visualizer-allenamento-container {
    flex: 1;
    display: flex;
    align-items: flex-end;

    div {
      flex: 1;
      height: 2px;
      background-color: #fff;
      border-radius: 16px;
    }

    .current-day-visualizer {
      height: 8px;
    }
  }
}

.double-widget-data {
  display: flex;
  gap: 16px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  > div {
    width: 50%;
  }
}

.last-line-scheda-corrente {
  border-radius: 0 0 16px 16px;
  border-bottom: none;
}
