<div class="info-container">
    <div class="info-card">
        <h1 class="info-title">Informazioni App Server</h1>

        <div class="info-section">
            <div class="info-item">
                <span class="info-label">Versione server :</span>
                <span class="info-value">{{ version }}</span>
            </div>

            <div class="info-item">
                <span class="info-label">Data server:</span>
                <span class="info-value">{{ serverTime }}</span>
            </div>

            <div class="info-item">
                <span class="info-label">Description:</span>
                <span class="info-value">{{ description }}</span>
            </div>

            <div class="info-item">
                <span class="info-label">Profilo configurazione server:</span>
                <span class="info-value">{{ profile }}</span>
            </div>

            <div class="info-item">
                <span class="info-label">Stato server:</span>
                <span class="info-value">{{ status }}</span>
            </div>


            <div class="info-item">
                <span class="info-label">Nome server :</span>
                <span class="info-value">{{ appName }}</span>
            </div>
        </div>
    </div>
</div>