<div class="app-container" [class]="currentTheme">
  @if(this.MenuIsVisible){
  <app-menu-component></app-menu-component>
  }

  <div class="main-content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <!-- <app-footer></app-footer> -->

  <!-- @if (showLoginModal) {
        <div class="modal-backdrop" (click)="closeLogin()">
            <div class="modal-content"
                 (click)="$event.stopPropagation()">
                <app-login (closeLogin)="closeLogin()"></app-login>
            </div>
        </div>
    } -->
</div>
