.workout-data {
  padding-bottom: 32px;
}

.nome-allenamento-container {
  mat-form-field {
    width: 100%;
  }
  padding-bottom: 16px;
}

.ordinamento-container {
  mat-form-field {
    width: 100%;
  }
}

.section-title {
  padding: 16px;
  padding-top: 0;
}

.text-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-allenamento-button-row {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
  padding-bottom: 32px;
}

.add-exercise-button-row {
  display: flex;
  justify-content: flex-end;
  padding: 16px 0;
}

.delete-allenamento-button-row {
  display: flex;
  justify-content: flex-start;
}

.compact-mode-toggle {
  display: flex;
  justify-content: center;
  padding: 24px 0;

  button {
    min-width: 160px;
  }
}

.exercise-data {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.warning-icon {
  width: 40px;
}

.custom-option {
  display: flex;
  align-items: center;
  color: #808080;
  font-weight: 700;
  font-family: "poppins";
  font-size: 14px;
}

::ng-deep .mat-mdc-option-active span {
  color: #fff !important;
}
::ng-deep .mat-mdc-option {
  border-bottom: 1px solid #212121;
}
::ng-deep .mat-mdc-option .mat-pseudo-checkbox {
  --mat-pseudo-checkbox-minimal-selected-checkmark-color: #fff !important;
}
::ng-deep .mat-mdc-select-panel {
  border: 1px solid #00ffe1;
}

mat-form-field {
  width: 100%;
}

.add-workout-modal-description {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}
