<!-- generic-modal.html -->
<div #modalOverlay class="modal-overlay" (click)="onOverlayClick($event)">
  <div
    #modalContainer
    class="modal-container"
    (click)="$event.stopPropagation()"
  >
    <!-- Header del modale -->
    <div class="modal-header">
      <div></div>
      <div>
        <!-- Supporta sia slot che template -->
        <ng-content select="[slot=header]"></ng-content>
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      </div>
      <div class="delete-icon-element-container">
        <div class="close-icon-trigger" (click)="close()"></div>
        <img src="assets/recollect/svg/google-close-icon.svg" />
      </div>
    </div>

    <!-- Contenuto principale -->
    <div class="modal-body">
      <!-- Supporta sia slot che template -->
      <ng-content select="[slot=body]"></ng-content>
      <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container>
    </div>

    <!-- Footer del modale -->
    <div class="modal-footer">
      <div class="btn btn-secondary" (click)="close()">
        <!-- Supporta sia slot che template -->
        <ng-content select="[slot=footer-btn-close]"></ng-content>
        <ng-container *ngTemplateOutlet="footerCloseTemplate"></ng-container>
      </div>
      <div class="btn btn-primary" (click)="confirm()">
        <!-- Supporta sia slot che template -->
        <ng-content select="[slot=footer-btn-confirm]"></ng-content>
        <ng-container *ngTemplateOutlet="footerConfirmTemplate"></ng-container>
      </div>
    </div>
  </div>
</div>