.modal-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  // Inizia con opacity 0 ma backdrop-filter attivo
  opacity: 0;
  position: fixed; // ✅ FIXED invece di absolute
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal-container {
  background-color: #000000;
  position: fixed; // ✅ FIXED invece di absolute
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  border-radius: 8px;
  width: 80%;
  // box-shadow: 0 0 400px rgba(0, 255, 225, 0.4);
  border: 1px solid #1c1c1c
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  padding: 16px;
}

.modal-header div {
  flex: 1;
}

.modal-header div:first-child {
  flex: 0;
  width: 50px;
}

.modal-header div:last-child {
  flex: 0;
  width: 50px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
