<div class="page-scroller">
  <div class="gradient-effect">
    <div class="ellips-1"></div>
    <div class="ellips-2"></div>
    <div class="ellips-blur"></div>
  </div>

  <!-- <app-account-info class="widget-section"></app-account-info> -->

  <app-seleziona-allenamento-da-svolgere></app-seleziona-allenamento-da-svolgere>
  <!-- <app-prossimo-allenamento class="widget-section"></app-prossimo-allenamento> -->
  <app-scheda-corrente class="widget-section"></app-scheda-corrente>
  <app-ultimi-allenamenti-svolti
    class="widget-section"
  ></app-ultimi-allenamenti-svolti>
  <app-ultime-schede-svolte></app-ultime-schede-svolte>
</div>
<!-- <div class="floating-static-button-container">
  <button
    type="submit"
    class="floating-static-button"
    (click)="SelezionaAllenamentoDaSvolgere?.prossimoAllenamento?.NavigaARegistraAllenamento()"
  >
    <span>Nuovo allenamento</span>
  </button>
</div> -->
