.exercise-container {
  border-radius: 8px;
  background-color: #0c0c0c;
  border: 1px solid #212121;
  padding: 16px;
}

.input-row {
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}

app-gym-exercise-selector {
  width: 100%;
}

.titolo-esercizio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.icona-numero-esercizio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

app-set-component {
  display: block;
  border-bottom: 1px solid #212121;
  padding: 16px 0 0 0;
}

app-set-component:first-of-type {
  border-top: 1px solid #212121;
}

app-set-component:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.icona-numero-esercizio-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icona-numero-esercizio-container img {
  width: 40px;
}

.warning-icon {
  width: 40px;
}

.custom-option {
  display: flex;
  align-items: center;
  color: #808080;
  font-weight: 700;
  font-family: "poppins";
  font-size: 14px;
}

::ng-deep .mat-mdc-option-active span {
  color: #fff !important;
}
::ng-deep .mat-mdc-option {
  border-bottom: 1px solid #212121;
}
::ng-deep .mat-mdc-option .mat-pseudo-checkbox {
  --mat-pseudo-checkbox-minimal-selected-checkmark-color: #fff !important;
}
::ng-deep .mat-mdc-select-panel {
  border: 1px solid #00ffe1;
}

mat-form-field {
  width: 100%;
}

.add-serie-button-row{
  display: flex;
  justify-content: flex-end;
}