<div class="content">
  <div class="section-container close-icon-title-container">
    <div class="close-icon-section-container">
      <div class="close-icon-trigger">
      </div>
      <img src="assets/recollect/svg/google-close-icon.svg" />
    </div>
    <h1 class="text-title">Nuova scheda</h1>
  </div>

  <accordion-group [Keys]="[]">
    <accordion>
      <accordion-header>
        <h3 class="accordion-header-text">Test header</h3>
      </accordion-header>
      <accordion-body>
        <div class="accordion-body-container">
          <p>Testo di prova</p>
          <p>Testo di prova</p>
          <p>Testo di prova</p>
          <p>Testo di prova</p>
          <p>Testo di prova</p>
          <p>Testo di prova</p>
          <p>Testo di prova</p>
          <p>Testo di prova</p>
          <p>Testo di prova</p>
        </div>
      </accordion-body>
    </accordion>
  </accordion-group>
</div>
