<div class="content">
  <div class="section-container close-icon-title-container">
    <div class="close-icon-section-container">
      <div class="close-icon-trigger"></div>
      <img src="assets/recollect/svg/google-close-icon.svg" />
    </div>
    <h1 class="text-title">Nuova scheda</h1>
  </div>
  <div class="tab-container">
    <custom-tab-container
      [(activeTabId)]="activeTabId"
      (tabChange)="onTabChange($event)"
    >
      @for (allenamentoForm of
      createOrEditTemplatePlanService.formScheda.listaAllenamentiForm; track
      allenamentoForm.form.controls['identifier'].value) {
      <custom-tab
        [id]="allenamentoForm.form.controls['identifier'].value.toString()"
        [label]="allenamentoForm.form.controls['nomeAllenamento'].value"
      >
        <app-workout-component (onDeleteWorkout)="deleteWorkout($event)" [formAllenamento]="allenamentoForm"></app-workout-component>
      </custom-tab>
      } @empty { }
    </custom-tab-container>
  </div>
</div>
