@use "@angular/material" as mat;

@include mat.core(

); // Assicurati di includere il core theme se non l'hai già fatto

// Mantieni le tue definizioni di tema .dark-theme e .light-theme con le variabili di colore e altezza.
// Verranno applicate come classi al body tramite ThemeService.
.dark-theme {
  // Variabili tema scuro (Dark Theme)
  --primary-color: #ffffff;
  --primary-color-dark: #64b5f6;
  --primary-text-color-inverted: #000000;
  --accent-color: #f48fb1;
  --surface-color: #54446152;
  --background-color: #424242;
  --text-color: #e0e0e0;
  --text-color-light: #bdbdbd;
  --text-color-inverted: #ffffff;
  --button-text-color-inverted: #000000;
  --border-color: #616161;
  --shadow-1: 0 4px 6px rgba(0, 0, 0, 0.3);
  --shadow-2: 0 10px 20px rgba(0, 0, 0, 0.4);
  --newyacht-button-color: #ffffff;

  // Colori per il gradiente in modalità scura (adattati)
  --gradient-start-color: #17278f; // Blu scuro
  --gradient-end-color: #9c1628; // Blu molto scuro

  // --- NUOVE VARIABILI PER ALTEZZA HEADER E FOOTER ---
  --header-height: 64px;
  --footer-height: 60px;

  // --- NUOVE VARIABILI PER BOTTONI SWITCH THEME E LOGIN ---
  --button-color: #3f55dc;
  --button-hover-color: #7b8aff;
  --login-button-color: #3f51b5;
}

.light-theme {
  // Variabili tema luce (Light Theme)
  --primary-color: #ffffff;
  --primary-color-dark: #303f9f;
  --primary-text-color-inverted: #ffffff;
  --accent-color: #ff4081;
  --surface-color: #fbfeff82;
  --background-color: #f5f5f5;
  --text-color: #333333;
  --text-color-light: #666666;
  --text-color-inverted: #ffffff;
  --button-text-color-inverted: #ffffff;
  --border-color: #e0e0e0;
  --shadow-1: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-2: 0 10px 20px rgba(0, 0, 0, 0.15);
  --newyacht-button-color: #000000;

  // Colori per il gradiente dello sfondo della pagina yacht
  --gradient-start-color: #fdfdfd; // Viola
  --gradient-end-color: #b7c7e3; // Blu

  // --- NUOVE VARIABILI PER ALTEZZA HEADER E FOOTER ---
  --header-height: 64px;
  --footer-height: 60px;

  // --- NUOVE VARIABILI PER BOTTONI SWITCH THEME E LOGIN ---
  --button-color: #3575e8;
  --button-hover-color: #738dfd;
  --login-button-color: #3f51b5;
}

html {
  margin: 0;
  padding: 0;
  height: 100%; /* HTML e BODY devono occupare il 100% dell'altezza della viewport */
  width: 100%; /* E il 100% della larghezza */
  font-family: Roboto, "Helvetica Neue", sans-serif; // Spostato qui per applicarlo globalmente
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  background-color: #000000;
  padding: 16px;
  box-sizing: border-box;
}

/* Regola per bloccare lo scroll del body quando il modale è aperto */
body.no-scroll {
  overflow: hidden;
  padding-right: 15px; /* Adatta al tuo sistema operativo */
}

.text-title {
  color: #fff;
  font-weight: 700;
  font-family: "poppins";
  font-size: 20px;
}

.text-white {
  color: #fff;
  font-weight: 700;
  font-family: "poppins";
  font-size: 14px;
}
.text-grey {
  color: #808080;
  font-weight: 700;
  font-family: "poppins";
  font-size: 14px;
}

.text-shape-button {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 14px;
  font-family: "poppins";
  font-weight: 700;
  color: #00ffe1;
  cursor: pointer;
}

.text-shape-button-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00ffe1;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.text-shape-button-icon-container img {
  filter: brightness(0) saturate(100%) invert(94%) sepia(45%) saturate(3320%)
    hue-rotate(89deg) brightness(104%) contrast(102%);
  width: 16px;
  height: 16px;
}

.text-shape-button-danger {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 14px;
  font-family: "poppins";
  font-weight: 700;
  color: #ff0000;
  cursor: pointer;
}

.text-shape-button-icon-container-danger {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ff0000;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.text-shape-button-icon-container-danger img {
  filter: brightness(0) saturate(100%) invert(15%) sepia(83%) saturate(6873%)
    hue-rotate(360deg) brightness(106%) contrast(118%);
  width: 16px;
  height: 16px;
}

.floating-static-button {
  outline: none;
  background-color: transparent;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-family: "poppins";
  font-weight: 700;
  color: #00ffe1;
  background: #002b28;
  background: linear-gradient(
    180deg,
    rgba(0, 43, 40, 1) 0%,
    rgba(0, 20, 19, 1) 50%,
    rgba(0, 43, 40, 1) 100%
  );
  border: 1px solid #00564c;
  position: fixed;
  right: 16px;
  bottom: 16px;
  border-radius: 32px;
  cursor: pointer;
}

.accordion-header-text {
  color: #fff;
  font-weight: 700;
  font-family: "poppins";
  font-size: 14px;
}

.section-container {
  padding-bottom: 16px;
}

.close-icon-title-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.close-icon-section-container {
  display: flex;
  align-items: center;
  position: relative;
}

.delete-icon-element-container {
  display: flex;
  align-items: center;
  position: relative;
}

.delete-icon-element-container img {
  filter: brightness(0) saturate(100%) invert(54%) sepia(0%) saturate(59%)
    hue-rotate(162deg) brightness(92%) contrast(96%);
}

.close-icon-trigger {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-icon-section-container img {
  filter: brightness(0) saturate(100%) invert(94%) sepia(45%) saturate(3320%)
    hue-rotate(89deg) brightness(104%) contrast(102%);
}

.button-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-underline {
  background-color: #ff884d; // Desired color when input is focused
}

// Media Query per l'altezza dell'header su schermi piccoli
@media (max-width: 599px) {
  // Tipico breakpoint mobile per Angular Material
  :root {
    --header-height: 56px; // Altezza MatToolbar su mobile
  }
}

// Responsive helpers
@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .show-mobile {
    display: none !important;
  }
}

// Se volessi usare il mixin form-field-overrides per i suoi scopi specifici
// (es. cambiare colori di disabilitato, ma non font-size/weight generali)
:root {
  @include mat.form-field-overrides(
    (
      // Esempio: cambia il colore del placeholder quando il campo è disabilitato
      container-text-size: 14px,
      container-text-weight: 700,
      container-text-font: "poppins",
      subscript-text-size: 14px,
      subscript-text-weight: 700,
      subscript-text-font: "poppins",
      filled-label-text-size: 14px,
      filled-label-text-weight: 700,
      filled-label-text-font: "poppins",
      outlined-label-text-size: 14px,
      outlined-label-text-weight: 700,
      outlined-label-text-font: "poppins",
      outlined-label-text-populated-size: 14px,
      enabled-select-arrow-color: "#808080",
      outlined-caret-color: "#808080",
      outlined-label-text-color: "#808080",
      outlined-outline-color: "#808080",
      outlined-input-text-color: "#fff",
      outlined-hover-outline-color: "#fff",
      outlined-focus-outline-color: "#fff",
      outlined-focus-label-text-color: "#808080",
      outlined-hover-label-text-color: "#808080"
    )
  );
}

:root {
  @include mat.select-overrides(
    (
      placeholder-text-color: "#808080",
      enabled-arrow-color: "#808080",
      focused-arrow-color: "#fff",
      trigger-text-font: "poppins",
      trigger-text-size: 14px,
      trigger-text-weight: 700,
      panel-background-color: "#000",
      enabled-trigger-text-color: "#fff",
    )
  );
}

// // Sovrascrittura comportamento defaul mat tab
// mat-tab-header {
//   .mat-mdc-tab-label-container {
//     overflow-x: auto !important; // scroll orizzontale abilitato
//     -webkit-overflow-scrolling: touch; // scroll più fluido su iOS
//     scrollbar-width: thin; // firefox, opzionale

//     /* rimuovi le trasformazioni che bloccano lo scroll */
//     transform: none !important;
//   }

//   .mat-mdc-tab-labels span {
//     font-family: "poppins";
//     font-weight: 700;
//     color: #858585 !important;
//   }

//   .mat-mdc-tab {
//     padding-left: 0;
//     display: flex;
//     justify-content: flex-start;
//     min-width: 0;
//   }

//   .mdc-tab-indicator {
//     opacity: 0;
//   }

//   .mdc-tab--active span {
//     color: #00ffe1 !important;
//   }

//   .mat-mdc-tab-header {
//     scroll-behavior: auto !important;
//     scroll-snap-type: none !important;
//   }

//   .mat-mdc-tab-label-container {
//     scroll-behavior: auto !important;
//   }

//   .mat-mdc-tab-labels {
//     transform: translateX(0) !important;
//   }
// }

// mat-tab-header {
//   .mat-mdc-tab-label-container {
//     overflow-x: auto !important;
//     -webkit-overflow-scrolling: touch;
//     scrollbar-width: thin;
//     transform: none !important;

//     // Blocca tutte le trasformazioni possibili
//     * {
//       transform: none !important;
//       transition: none !important;
//     }
//   }

//   .mat-mdc-tab-labels {
//     transform: translateX(0px) !important;
//     transition: none !important;
//   }

//   .mat-mdc-tab-header {
//     scroll-behavior: auto !important;
//     scroll-snap-type: none !important;
//   }

//   // Il resto delle tue regole...
//   .mat-mdc-tab-labels span {
//     font-family: "poppins";
//     font-weight: 700;
//     color: #858585 !important;
//   }

//   .mat-mdc-tab {
//     padding-left: 0;
//     display: flex;
//     justify-content: flex-start;
//     min-width: 0;
//   }

//   .mdc-tab-indicator {
//     opacity: 0;
//   }

//   .mdc-tab--active span {
//     color: #00ffe1 !important;
//   }
// }
