
// Media queries per la responsività
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
    :host {
      font-size: 0.75em;
        height: auto; // Permette al footer di adattarsi al contenuto su schermi molto piccoli
        padding: 10px; // Riduce il padding per schermi piccoli
    }
}


:host {
  display: block;
  background: transparent; /* Renderlo trasparente per mostrare il gradiente del genitore */
  color: var(--text-color);
  height: var(--footer-height);
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 100%;
}

.footer-content {
  max-width: 1200px; /* Larghezza massima per il contenuto, come per l'header */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; // Per assicurare che il contenuto sia all'interno del max-width

  p {
    margin: 5px 0;
    opacity: 0.8; /* Rende il testo leggermente meno prominente */
  }
}
